 
  .legend {
    color: #eff3f7;
    font-size: 27px;
    padding: 10px;
    text-transform: $mayuscula;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .bigicon {
    font-size: 35px;
    color: #36a0ff;
  }
  