$mayuscula: uppercase;
$color: black;

* {
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-color: $color;

.header img {
  width: 10rem;
}
.header i {
  color: gray;
  font-size: 2rem;
}
.header__nav {
  overflow: hidden;
}
.header__nav a:hover {
  color: gold;
}
.header__navMenu--texto {
  background: linear-gradient(110deg, rgb(197, 0, 0), white);
  border: rgb(136, 132, 132) 2px solid;
  border-radius: 10px;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
  text-transform: $mayuscula;
  color: $color;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  transition: color 2s;
}
.header__nav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .header__nav a:not(:first-child) {
    display: none;
  }
  .header__nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header__nav.responsive {
    position: relative;
  }
  .header__nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.header__titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-transform: $mayuscula;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(206, 205, 205);
}
}
body {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
}