.galeriaProduccion img {
    width: 20rem;
    border: solid black;
    border-radius: 25px;
  }
  .produccion12 img {
    width: 20rem;
  }
  .produccion05 img {
    width: 20rem;
  }
  label {
    color: $color
  }
  
  .videoMatriz img {
    width: 18rem;
  }
  .pacheraExterna img {
    width: 18rem;
  }
  