.section {
  background-color: rgb(121, 117, 117);

  .section__titulo2 {
    margin: 30px 5px;
    text-transform: $mayuscula;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    color: blue;
    text-align: center;
  }
  .section__titulo3 {
    margin: 30px 5px;
    color: rgb(179, 75, 6);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: $mayuscula;
    text-align: center;
  }

  .section__titulo5 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: $mayuscula;
  }
  .section__menuProduccion {
    margin: 30px 5px;
    list-style-type: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(247, 247, 247);
    text-decoration: none;
    list-style: outside;
  }
  .section__menuMovil li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 179, 179);
    text-decoration: none;
    list-style: none;
  }
  /*.section img {
    width: 30rem;
    border: $color;
    border-style: solid;
  }*/

  .section__parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: aliceblue;
    text-align: center;
    margin: 2rem;
  }

  .section__parrafo1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .section__pdf {
    width: 80%;
    height: 600px;
    margin: 3rem;
  }

  @media (max-width: 600px) {
    .section__pdf {
      display: none;
    }
  }

  .section__contenedorPdf {
    display: flex;
    justify-content: center;
  }

  .section__mapa {
    margin-bottom: 2rem;
  }

  .section__cards {
    background-color: rgb(15, 15, 48);
  }
  .card-footer {
    background-color: rgb(54, 53, 53);
  }
  /*.section__clientes {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: stretch;
}*/
}

.cajaFormulario {

  background-color: gray;

}
